Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-centos7-tntestr: unless all of: docs/.*, README.md
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Add role for python3 install under Ubuntu/CentOS distributions
  roles/install-python3/tasks/centos.yaml
  roles/install-python3/tasks/main.yaml
  roles/install-python3/tasks/ubuntu.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

contrail-vcenter-fabric-manager CI jobs
  ansible-lint-rules/HostsDeclaration.py
  playbooks/contrail-vcenter-fabric-manager/pre.yaml
  playbooks/contrail-vcenter-fabric-manager/run.yaml
  roles/python-black-lint/defaults/main.yaml
  roles/python-black-lint/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, ci-test-ansible-lint-centos-7, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Update patch set 1
  179a61ef93b16e4c4a7b200c53042a67eb2f3bd4
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Enable Windows job for R1907 branch.
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

created non-voting job in CI to run vrouter UT.
  playbooks/contrail-vrouter-ut-base/main.yaml
  playbooks/contrail-vrouter-ut-base/post.yaml
  playbooks/contrail-vrouter-ut-base/pre.yaml
  roles/contrail-vrouter-ut/files/repo
  roles/contrail-vrouter-ut/tasks/main.yaml
  roles/contrail-vrouter-ut/vars/default.yaml
  roles/fetch-logs-vrouter-ut/tasks/logs.yaml
  roles/fetch-logs-vrouter-ut/tasks/main.yaml
  roles/fetch-logs-vrouter-ut/tasks/xmls.yaml
  zuul.d/base-jobs.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop
