Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

contrail-vnc-base2:
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  - Juniper/contrail-api-client
  - Juniper/contrail-build
  ...

contrail-vnc-unittest-base:
  parent: contrail-vnc-base2
  description: 'Runs unittest suite using Contrail VNC sandbox.
  
    Requires nodeset.
  
    '
  run: playbooks/contrail-vnc-unittest/main
  post-run: playbooks/contrail-vnc-unittest/post

trigger-win-base:
  parent: contrail-vnc-base2
  description: 'Triggers Windows CI system.
  
    Requires jenkins_job.
  
    '
  run: playbooks/trigger-windows-ci/run
  required-projects:
  - Juniper/contrail-windows
  - Juniper/contrail-windows-docker-driver
  nodeset: ubuntu-xenial
  vars:
    setup_docker_registry: true
  ...

ci-test-core-base:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/core.yaml

ci-test-core-centos-7:
  parent: ci-test-core-base
  nodeset: centos-7

ci-test-core-ubuntu-xenial:
  parent: ci-test-core-base
  nodeset: ubuntu-xenial

ci-test-contrail-core-base:
  parent: ci-test-base
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-core.yaml

ci-test-contrail-core-centos-7:
  parent: ci-test-contrail-core-base
  nodeset: centos-7

ci-test-contrail-core-ubuntu-xenial:
  parent: ci-test-contrail-core-base
  nodeset: ubuntu-xenial

ci-test-packaging-base:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/packaging.yaml

ci-test-packaging-centos-7:
  parent: ci-test-packaging-base
  nodeset: builder-centos-7

ci-test-packaging-ubuntu-xenial:
  parent: ci-test-packaging-base
  nodeset: builder-ubuntu-xenial

ci-test-containers-base:
  description: 'Run roles that are used to manage containers in jobs
  
    to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/containers.yaml

ci-test-containers-centos-7:
  parent: ci-test-containers-base
  nodeset: builder-centos-7

ci-test-containers-ubuntu-xenial:
  parent: ci-test-containers-base
  nodeset: builder-ubuntu-xenial

ci-test-lint-rpm-specs-centos-7:
  description: 'Run roles that are used for lint rpm jobs to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/lint-rpm-specs.yaml
  nodeset: builder-centos-7

ci-test-ansible-lint-centos-7:
  description: 'Run custom ansible linter rules tests to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/ansible-lint.yaml
  nodeset: builder-centos-7

Fix bazel installation.
  roles/publish-windows-containers/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Update patch set 1
  96770ee11dda9027b4ebfe5366aa5bce10c6c3c9
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Add YAMLBooleans.py to ansible-lint-rules
  ansible-lint-rules/YAMLBooleans.py
  roles/add-insecure-registry/tasks/main.yaml
  roles/add-registry-proxy/tasks/main.yaml
  roles/build-infra-doc/tasks/main.yaml
  roles/contrail-ansible-deployer/tasks/main.yaml
  roles/contrail-go/tasks/main.yaml
  roles/contrail-tpc-repos/tasks/main.yaml
  roles/contrail-unittests-tntestr/tasks/debian.yaml
  roles/contrail-unittests2/tasks/debian.yaml
  roles/contrail-unittests2/tasks/main.yaml
  roles/contrail-unittests2/tasks/redhat.yaml
  roles/fetch-artifacts/tasks/main.yaml
  roles/fetch-docs/tasks/main.yaml
  roles/fetch-k8s-pods-logs/tasks/main.yaml
  roles/fetch-logs-sanitytests/tasks/contrail-logs.yaml
  roles/fetch-logs-sanitytests/tasks/kolla-logs.yaml
  roles/install-docker-daemon/tasks/post/centos.yaml
  roles/install-docker-daemon/tasks/pre/centos.yaml
  roles/install-repo-script/tasks/main.yaml
  roles/lint-rpm-specs/tasks/main.yaml
  roles/packaging-build-el-makefile/tasks/make_rpm.yaml
  roles/packaging-build-el/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/tasks/main.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  roles/publish-windows-containers/tasks/main.yaml
  roles/puppet-lint/tasks/main.yaml
  roles/reach-jenkins-with-zuuls-tentacle/tasks/main.yaml
  roles/sanitytest/tasks/main.yaml
  roles/self-ssh-key/tasks/main.yaml
  roles/yum-repos-prepare/tasks/prepare_repos.yaml
  roles/yum-repos-prepare/tasks/vars/centos.yaml
  roles/yum-repos-prepare/tasks/vars/default.yaml
  roles/yum-repos-prepare/tasks/vars/redhat.yaml
  tests/core/configure-mirrors.yaml
  tests/lint-rpm-specs/negative.yaml
  tests/publish-infra-doc.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Build and publish windows containers
  playbooks/create-publish-windows-containers/run.yaml
  roles/publish-windows-containers/tasks/main.yaml
  roles/reach-jenkins-with-zuuls-tentacle/tasks/main.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

[dnm] test review
  roles/build-third-party-rpms/tasks/main.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  roles/run-nexus-script/defaults/main.yaml
  roles/yum-repos-prepare/defaults/main.yaml
  roles/yum-repos-prepare/tasks/prepare_repos.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-publish-rpm-nexus, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Test change report script
  playbooks/generate-build-change-info/run.yaml
  roles/generate-build-change-info/tasks/main.yaml
  zuul.d/base-jobs.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Test change report script
  playbooks/generate-build-change-info/run.yaml
  roles/generate-build-change-info/tasks/main.yaml
  zuul.d/base-jobs.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  trigger-win-base: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
