Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

contrail-vnc-base2:
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  - Juniper/contrail-api-client
  - Juniper/contrail-build
  ...

contrail-vnc-unittest-base:
  parent: contrail-vnc-base2
  description: 'Runs unittest suite using Contrail VNC sandbox.
  
    Requires nodeset.
  
    '
  run: playbooks/contrail-vnc-unittest/main
  post-run: playbooks/contrail-vnc-unittest/post

trigger-win-base:
  parent: contrail-vnc-base2
  description: 'Triggers Windows CI system.
  
    Requires jenkins_job.
  
    '
  run: playbooks/trigger-windows-ci/run
  required-projects:
  - Juniper/contrail-windows
  - Juniper/contrail-windows-docker-driver
  nodeset: ubuntu-xenial
  vars:
    setup_docker_registry: true
  ...

ci-test-core-base:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/core.yaml

ci-test-core-centos-7:
  parent: ci-test-core-base
  nodeset: centos-7

ci-test-core-ubuntu-xenial:
  parent: ci-test-core-base
  nodeset: ubuntu-xenial

ci-test-contrail-core-base:
  parent: ci-test-base
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-core.yaml

ci-test-contrail-core-centos-7:
  parent: ci-test-contrail-core-base
  nodeset: centos-7

ci-test-contrail-core-ubuntu-xenial:
  parent: ci-test-contrail-core-base
  nodeset: ubuntu-xenial

ci-test-packaging-base:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/packaging.yaml

ci-test-packaging-centos-7:
  parent: ci-test-packaging-base
  nodeset: builder-centos-7

ci-test-packaging-ubuntu-xenial:
  parent: ci-test-packaging-base
  nodeset: builder-ubuntu-xenial

ci-test-containers-base:
  description: 'Run roles that are used to manage containers in jobs
  
    to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/containers.yaml

ci-test-containers-centos-7:
  parent: ci-test-containers-base
  nodeset: builder-centos-7

ci-test-containers-ubuntu-xenial:
  parent: ci-test-containers-base
  nodeset: builder-ubuntu-xenial

ci-test-lint-rpm-specs-centos-7:
  description: 'Run roles that are used for lint rpm jobs to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/lint-rpm-specs.yaml
  nodeset: builder-centos-7

ci-test-ansible-lint-centos-7:
  description: 'Run custom ansible linter rules tests to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/ansible-lint.yaml
  nodeset: builder-centos-7

[DNM] test for python-thrift make.
  roles/build-third-party-rpms/tasks/build_package.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Add installation of pip and virtualenv to base job
  playbooks/contrail-base-untrusted/pre.yaml
  roles/install-pip-virtualenv/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Install pip in sanity base job
  playbooks/contrail-sanity-base/pre.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

code refactor according to new linter policy
  playbooks/linters-go/run.yaml
  roles/build-dev-env/defaults/main.yaml
  roles/build-infra-doc/tasks/main.yaml
  roles/build-third-party-rpms/defaults/main.yaml
  roles/contrail-ansible-deployer-debug/tasks/main.yaml
  roles/contrail-build-containers/defaults/main.yaml
  roles/contrail-build-containers/tasks/main.yaml
  roles/contrail-build-test-containers/defaults/main.yaml
  roles/contrail-build-test-containers/tasks/build_container.yaml
  roles/contrail-go/tasks/main.yaml
  roles/contrail-unittests-tntestr/tasks/main.yaml
  roles/contrail-unittests-tntestr/tasks/testrunner.yaml
  roles/contrail-unittests2/tasks/main.yaml
  roles/fetch-k8s-pods-logs/tasks/main.yaml
  roles/fetch-logs-sanitytests/tasks/container-logs.yaml
  roles/gather-unit-test-statistics/defaults/main.yaml
  roles/generate-build-change-info/tasks/main.yaml
  roles/lint-rpm-specs/tasks/main.yaml
  roles/openshift-ansible/defaults/main.yaml
  roles/packaging-prepare-contrail-el/tasks/main.yaml
  roles/packaging-prepare-contrail2/tasks/debian.yaml
  roles/publish-rpm-nexus/defaults/main.yaml
  roles/publish-windows-containers/tasks/main.yaml
  roles/publish-windows-containers/tasks/push_containers.yaml
  roles/publish-windows-containers/vars/main.yaml
  roles/puppet-lint/defaults/main.yaml
  roles/puppet-lint/tasks/main.yaml
  roles/repo-sandbox-prepare2/tasks/main.yaml
  roles/sanitytest/tasks/main.yaml
  roles/skip-job/tasks/main.yaml
  roles/test-dev-env/defaults/main.yaml
  roles/yum-repos-prepare/tasks/vars/redhat.yaml
  roles/yum-repos-prepare/tasks/vars/redhat_openshift_3.9.yaml
  roles/yum-repos-prepare/tasks/vars/redhat_openstack_beta.yaml
  roles/yum-repos-prepare/tasks/vars/redhat_openstack_ocata.yaml
  roles/yum-repos-prepare/tasks/vars/redhat_openstack_queens.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-lint-rpm-specs-centos-7, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Test zuul log paths.
  playbooks/push-logs-test/run.yaml
  roles/reach-jenkins-with-zuuls-tentacle/files/zuulstentacle.py
  roles/reach-jenkins-with-zuuls-tentacle/tasks/main.yaml
  roles/test-push-windows-logs/tasks/main.yaml
  roles/zuul-include-vars/tasks/main.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  trigger-win-base: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
