Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-centos7-tntestr: unless all of: docs/.*, README.md
  test-python3-status: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Update patch set 4
  e2e5ea9323c4b0cbdb65e0610a0d08e3561a73cd
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Move TPC upload to artifactory. closes-jira-bug: CE-2105
  roles/publish-rpm-artifactory/defaults/main.yaml
  roles/publish-rpm-artifactory/tasks/main.yaml
  tests/core/configure-hosts-entries.yaml
  tests/publish-rpm-artifactory.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Update patch set 16
  b9d28ee6f9150901fa4e57fe62b6f9fd90992697
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Add conditionals in upload-docs for Zuul pipelines
  roles/upload-docs/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Update patch set 3
  fc2da6cbb95db8a9e4b009633b90e92b1b5bf4ee
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop
