Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, noop

contrail-vnc-base2:
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  - Juniper/contrail-api-client
  - Juniper/contrail-build
  ...

contrail-vnc-unittest-base:
  parent: contrail-vnc-base2
  description: 'Runs unittest suite using Contrail VNC sandbox.
  
    Requires nodeset.
  
    '
  run: playbooks/contrail-vnc-unittest/main
  post-run: playbooks/contrail-vnc-unittest/post

trigger-win-base:
  parent: contrail-vnc-base2
  description: 'Triggers Windows CI system.
  
    Requires jenkins_job.
  
    '
  run: playbooks/trigger-windows-ci/run
  required-projects:
  - Juniper/contrail-windows
  - Juniper/contrail-windows-docker-driver
  nodeset: ubuntu-xenial
  vars:
    setup_docker_registry: true
  ...

contrail-vnc-build-package-centos74:
  parent: contrail-vnc-build-package-el-base
  nodeset:
    nodes:
    - name: builder
      label: centos-7-4-builder

contrail-vnc-build-package-rhel7:
  parent: contrail-vnc-build-package-el-base
  nodeset: builder-rhel-7

contrail-vnc-build-package-rhel7-base:
  parent: contrail-vnc-build-package-el-base
  nodeset: builder-rhel-7

contrail-vnc-build-package-rhel7-ocata:
  parent: contrail-vnc-build-package-rhel7-base
  vars:
    openstack_version: ocata

contrail-vnc-build-package-rhel7-queens:
  parent: contrail-vnc-build-package-rhel7-base
  vars:
    openstack_version: queens

contrail-vnc-unittest-ubuntu-trusty:
  parent: contrail-vnc-unittest-base
  nodeset: builder-ubuntu-trusty

contrail-vnc-unittest-centos7:
  parent: contrail-vnc-unittest-base
  voting: false
  nodeset: builder-centos-7

create-windows-containers:
  parent: trigger-win-base
  description: This jobs starts Jenkins job in Windows CI to create Windows containers.
  vars:
    jenkins_job: ci-contrail-windows-nighly-zuultest-mc

ci-test-core-base:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/core.yaml

ci-test-core-centos-7:
  parent: ci-test-core-base
  nodeset: centos-7

ci-test-core-ubuntu-xenial:
  parent: ci-test-core-base
  nodeset: ubuntu-xenial

ci-test-contrail-core-base:
  parent: ci-test-base
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-core.yaml

ci-test-contrail-core-centos-7:
  parent: ci-test-contrail-core-base
  nodeset: centos-7

ci-test-contrail-core-ubuntu-xenial:
  parent: ci-test-contrail-core-base
  nodeset: ubuntu-xenial

ci-test-packaging-base:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/packaging.yaml

Add dumping container image SHAs to the build
  roles/dump-docker-images-info/defaults/main.yaml
  roles/dump-docker-images-info/files/dump_docker_images_info.py
  roles/dump-docker-images-info/tasks/main.yaml
  zuul.d/base-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, contrail-vnc-build-package-el-base, noop

Print the list of images after container build
  roles/contrail-build-containers/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, contrail-vnc-build-package-el-base

Update patch set 27
  56c012f59ad1f3c2a1a8e96cb4d726565d88f1a0
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, contrail-vnc-build-package-el-base, noop

Added role for publishing rpms to nexus.
  roles/build-third-party-rpms/defaults/main.yaml
  roles/build-third-party-rpms/tasks/build_package.yaml
  roles/build-third-party-rpms/tasks/main.yaml
  roles/publish-rpm-nexus/defaults/main.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  tests/publish-rpm-nexus.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, noop

Fix for test playbook to stick to the documentation. Deleted 'vars:'.
  tests/publish-rpm-nexus.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, create-windows-containers, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  trigger-win-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-build-package-rhel7: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-base: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-ocata: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-queens: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  create-windows-containers: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
