Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  trigger-win-base: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Test change report script
  roles/generate-build-change-info/tasks/main.yaml
  roles/generate-build-change-info/vars/main.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Add YAMLBooleans.py to ansible-lint-rules
  ansible-lint-rules/YAMLBooleans.py
  roles/add-insecure-registry/tasks/main.yaml
  roles/add-registry-proxy/tasks/main.yaml
  roles/build-infra-doc/tasks/main.yaml
  roles/contrail-ansible-deployer/tasks/main.yaml
  roles/contrail-go/tasks/main.yaml
  roles/contrail-tpc-repos/tasks/main.yaml
  roles/contrail-unittests-tntestr/tasks/debian.yaml
  roles/contrail-unittests2/tasks/debian.yaml
  roles/contrail-unittests2/tasks/main.yaml
  roles/contrail-unittests2/tasks/redhat.yaml
  roles/fetch-artifacts/tasks/main.yaml
  roles/fetch-docs/tasks/main.yaml
  roles/fetch-k8s-pods-logs/tasks/main.yaml
  roles/fetch-logs-sanitytests/tasks/contrail-logs.yaml
  roles/fetch-logs-sanitytests/tasks/kolla-logs.yaml
  roles/install-docker-daemon/tasks/post/centos.yaml
  roles/install-docker-daemon/tasks/pre/centos.yaml
  roles/install-repo-script/tasks/main.yaml
  roles/lint-rpm-specs/tasks/main.yaml
  roles/packaging-build-el-makefile/tasks/make_rpm.yaml
  roles/packaging-build-el/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/tasks/main.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  roles/publish-windows-containers/tasks/main.yaml
  roles/puppet-lint/tasks/main.yaml
  roles/reach-jenkins-with-zuuls-tentacle/tasks/main.yaml
  roles/sanitytest/tasks/main.yaml
  roles/self-ssh-key/tasks/main.yaml
  roles/yum-repos-prepare/tasks/prepare_repos.yaml
  roles/yum-repos-prepare/tasks/vars/centos.yaml
  roles/yum-repos-prepare/tasks/vars/default.yaml
  roles/yum-repos-prepare/tasks/vars/redhat.yaml
  tests/core/configure-mirrors.yaml
  tests/lint-rpm-specs/negative.yaml
  tests/publish-infra-doc.yaml
  zuul.d/base-jobs.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Update patch set 3
  a8b9268ac452fa46e2da2656ef70bbfe170f10a3
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Fix missing pip (ci-test-ansible-lint-centos-7)
  tests/ansible-lint.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

[dnm] test review
  roles/build-third-party-rpms/tasks/main.yaml
  roles/run-nexus-script/defaults/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-publish-rpm-nexus, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74
