Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  trigger-win-base: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

[DNM] Test fix.
  tests/publish-rpm-nexus.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Fix for ci-test-publish-rpm-nexus.
  tests/publish-rpm-nexus.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Fix for ci-test-publish-rpm-nexus.
  roles/build-third-party-rpms/tasks/build_package.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  tests/publish-rpm-nexus.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Make it possible to upgrade tox
  playbooks/contrail-vnc-unittest-tntestr-base/pre.yaml
  roles/install-pip-virtualenv/default/main.yaml
  roles/install-pip-virtualenv/tasks/centos.yaml
  roles/install-pip-virtualenv/tasks/main.yaml
  roles/install-pip-virtualenv/tasks/ubuntu.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Make it possible to upgrade tox
  playbooks/contrail-vnc-unittest-tntestr-base/pre.yaml
  roles/install-pip-virtualenv/default/main.yaml
  roles/install-pip-virtualenv/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

Fix for ci-test-publish-rpm-nexus.
  roles/build-third-party-rpms/tasks/main.yaml
  roles/publish-rpm-nexus/tasks/main.yaml
  tests/publish-rpm-nexus.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-base, trigger-win-base, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop
