Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, ci-test-core-base, ci-test-core-centos-7, ci-test-core-ubuntu-xenial, ci-test-contrail-core-base, ci-test-contrail-core-centos-7, ci-test-contrail-core-ubuntu-xenial, ci-test-packaging-base, ci-test-packaging-centos-7, ci-test-packaging-ubuntu-xenial, ci-test-containers-base, ci-test-containers-centos-7, ci-test-containers-ubuntu-xenial, ci-test-lint-rpm-specs-centos-7, ci-test-ansible-lint-centos-7, ci-test-publish-infra-doc, ci-test-publish-infra-doc-unit, ci-test-publish-rpm-nexus, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

contrail-vnc-base2:
  branches: ^(?!(R5\.0|contrail_dpdk_17_11_3)).*$
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  ...

contrail-vnc-unittest-centos7-tntestr:
  parent: contrail-vnc-unittest-tntestr-base
  voting: false
  nodeset: builder-centos-7

test-python3-status:
  parent: contrail-base2
  description: 'This job checks for python3 compliance for all repos
  
    '
  required-projects:
  - Juniper/contrail-controller
  run: playbooks/test-python3-status/main.yaml
  nodeset:
    nodes:
    - name: builder
      label: centos-7-4-builder

ci-test-core-base:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/core.yaml

ci-test-core-centos-7:
  parent: ci-test-core-base
  nodeset: centos-7

ci-test-core-ubuntu-xenial:
  parent: ci-test-core-base
  nodeset: ubuntu-xenial

ci-test-contrail-core-base:
  parent: ci-test-base
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-core.yaml

ci-test-contrail-core-centos-7:
  parent: ci-test-contrail-core-base
  nodeset: centos-7

ci-test-contrail-core-ubuntu-xenial:
  parent: ci-test-contrail-core-base
  nodeset: ubuntu-xenial

ci-test-packaging-base:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/packaging.yaml

ci-test-packaging-centos-7:
  parent: ci-test-packaging-base
  nodeset: builder-centos-7

ci-test-packaging-ubuntu-xenial:
  parent: ci-test-packaging-base
  nodeset: builder-ubuntu-xenial

ci-test-containers-base:
  description: 'Run roles that are used to manage containers in jobs
  
    to prevent regressions.
  
    '
  parent: ci-test-base
  required-projects:
  - Juniper/contrail-vnc
  run: tests/containers.yaml

ci-test-containers-centos-7:
  parent: ci-test-containers-base
  nodeset: builder-centos-7

ci-test-containers-ubuntu-xenial:
  parent: ci-test-containers-base
  nodeset: builder-ubuntu-xenial

ci-test-lint-rpm-specs-centos-7:
  description: 'Run roles that are used for lint rpm jobs to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/lint-rpm-specs.yaml
  nodeset: builder-centos-7

ci-test-ansible-lint-centos-7:
  description: 'Run custom ansible linter rules tests to prevent regressions.
  
    '
  parent: ci-test-base
  run: tests/ansible-lint.yaml
  nodeset: builder-centos-7

ci-test-publish-infra-doc-unit:
  description: 'This job is running unit tests for fetch-docs and upload-docs roles
  
    '
  run: tests/publish-infra-doc-unit.yaml
  nodeset: builder-centos-7

Added ntp installation on the node for third party packages build
  roles/build-third-party-rpms/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, ci-test-publish-rpm-nexus, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

add tntestr projects
  roles/contrail-unittests-tntestr/files/contrail-unittests-gather.rb
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

add tntestr projects
  roles/contrail-unittests-tntestr/files/contrail-unittests-gather.rb
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74

fix tntestr gathering
  roles/contrail-unittests-tntestr/files/contrail-unittests-gather.rb
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

[Migration/Juniper/contrail-web-controller] Change links from to tungstenfabric/tf-web-controller
  zuul.d/base-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-unittest-centos7-tntestr, test-python3-status, contrail-vnc-build-package-el-base, contrail-vnc-build-package-centos74, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-unittest-centos7-tntestr: unless all of: docs/.*, README.md
  test-python3-status: unless all of: specs/.*
  ci-test-core-base: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-centos-7: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-core-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^tests/.*
  ci-test-contrail-core-base: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-contrail-core-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  ci-test-packaging-base: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-packaging-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  ci-test-containers-base: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-containers-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  ci-test-lint-rpm-specs-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  ci-test-ansible-lint-centos-7: any of: ^ansible-lint-rules/.*, ^tests/fixtures/ansible-lint/.*, ^tests/ansible-lint.*
  ci-test-publish-infra-doc: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-infra-doc-unit: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^tests/.*
  ci-test-publish-rpm-nexus: any of: ^tests/.*, ^roles/publish-rpm-nexus/.*, ^roles/build-third-party-rpms/.*
  contrail-infra-base-integration: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-centos-7: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-infra-base-integration-ubuntu-xenial: any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
