Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-build-package-rhel7: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-vnc-build-package-el-makefile: unless all of: specs/.*
  contrail-vnc-base-mk: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  zuul-jobs-linters: any of: ^roles/.*, ^playbooks/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Add a generic job to lint rpm specs
  playbooks/lint-rpm-specs/run.yaml
  roles/lint-rpm-specs/defaults/main.yaml
  roles/lint-rpm-specs/tasks/main.yaml
  tests/fixtures/bad.spec
  tests/fixtures/good.spec
  tests/lint-rpm-specs-negative.yaml
  tests/lint-rpm-specs-positive.yaml
  tests/lint-rpm-specs.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Update patch set 5
  d7cada6a4f14f80fb74652fa73f0659db56ca524
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, contrail-vnc-build-package-el-base, noop

[WIP] Enable CI sanity run for Helm deployer
  playbooks/contrail-sanity-ubuntu1604-helm-ocata/post.yaml
  playbooks/contrail-sanity-ubuntu1604-helm-ocata/run.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Update patch set 15
  60a90bf8f652cc5d2095c79c667d602cb06a8c9a
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, contrail-vnc-build-package-el-base, noop

[Don not merge] Enable CI sanity run for Helm deployer
  playbooks/contrail-sanity-ubuntu1604-helm-ocata/post.yaml
  playbooks/contrail-sanity-ubuntu1604-helm-ocata/run.yaml
  roles/prepare-template-for-helm-sanity/defaults/main.yaml
  roles/prepare-template-for-helm-sanity/tasks/main.yaml
  roles/prepare-template-for-helm-sanity/templates/instances.yaml.j2
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Create a multi node zuul job
  playbooks/test-contrail-multi-node/run.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-base-mk, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop
