Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-vnc-build-package-el-makefile: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  zuul-jobs-linters: any of: ^roles/.*, ^playbooks/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

add playbook for vro plugin
  playbooks/contrail-build-vro-plugin/run.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, zuul-jobs-linters, contrail-vnc-build-package-el-base

Update patch set 1
  bce44b790005a8feecc8ac8ed570ca00edb681f4
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-build-package-el-base, noop

Update patch set 45
  9fee8b9206533c8966956081fb51144e7c96d8e7
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-build-package-el-base, noop

Create a role for uploading container images
  roles/publish-container-images/README.rst
  roles/publish-container-images/library/publish_images.py
  roles/publish-container-images/tasks/main.yaml
  roles/publish-container-images/vars/debian.yaml
  roles/publish-container-images/vars/redhat.yaml
  tests/containers-install-docker-daemon.yaml
  tests/containers-integration.yaml
  tests/containers-publish-container-images.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Add some verbose message showing what's been done
  roles/publish-container-images/library/publish_images.py
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base
