Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-build-package-rhel7: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-base: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-ocata: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-queens: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  zuul-jobs-linters: any of: ^roles/.*, ^playbooks/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Update p-t-f-a-d role with any nodeset support.
  playbooks/contrail-sanity-base/pre.yaml
  playbooks/contrail-sanity-centos7-k8s/run.yaml
  playbooks/contrail-sanity-centos7-kolla-queens-multinode/run.yaml
  playbooks/contrail-sanity-kolla-base/pre.yaml
  playbooks/contrail-sanity-kolla-base/run.yaml
  roles/contrail-ansible-deployer-debug/tasks/main.yaml
  roles/contrail-ansible-deployer/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/defaults/main.yaml
  roles/prepare-template-for-ansible-deployer/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/templates/instances.yaml.j2
  roles/prepare-template-for-ansible-deployer/templates/kubernetes_config.yaml.j2
  roles/prepare-template-for-ansible-deployer/templates/openstack_config.yaml.j2
  roles/prepare-template-for-ansible-deployer/vars/debian.yaml
  roles/prepare-template-for-ansible-deployer/vars/default.yaml
  roles/prepare-template-for-ansible-deployer/vars/redhat.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/nodesets.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Update p-t-f-a-d role with any nodeset support.
  playbooks/contrail-sanity-base/pre.yaml
  playbooks/contrail-sanity-centos7-k8s/run.yaml
  playbooks/contrail-sanity-centos7-kolla-queens-multinode/run.yaml
  playbooks/contrail-sanity-kolla-base/pre.yaml
  playbooks/contrail-sanity-kolla-base/run.yaml
  roles/contrail-ansible-deployer-debug/tasks/main.yaml
  roles/contrail-ansible-deployer/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/defaults/main.yaml
  roles/prepare-template-for-ansible-deployer/tasks/main.yaml
  roles/prepare-template-for-ansible-deployer/templates/instances-multinode.yaml.j2
  roles/prepare-template-for-ansible-deployer/templates/instances.yaml.j2
  roles/prepare-template-for-ansible-deployer/templates/kubernetes_config.yaml.j2
  roles/prepare-template-for-ansible-deployer/templates/openstack_config.yaml.j2
  roles/prepare-template-for-ansible-deployer/vars/debian.yaml
  roles/prepare-template-for-ansible-deployer/vars/default.yaml
  roles/prepare-template-for-ansible-deployer/vars/redhat.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/nodesets.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

DNM debug sanity kolla after p-t-f-a-d update
  roles/prepare-template-for-ansible-deployer/defaults/main.yaml
  roles/sanitytest/defaults/main.yaml
  zuul.d/contrail-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Added playbook for publishing infra docs, added role for publishing infra docs, edited infra-jobs by adding merge-check job
  playbooks/build-infra-doc/run.yaml
  playbooks/publish-infra-doc/post.yaml
  roles/fetch-docs/tasks/main.yaml
  roles/upload-docs/tasks/main.yaml
  roles/upload-docs/vars/main.yaml
  tests/fetch-docs.yaml
  tests/fetch-upload-infra-doc.yaml
  zuul.d/infra-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

Add role for fetching unittest logs
  roles/fetch-logs-unittests/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, zuul-jobs-linters, contrail-vnc-build-package-el-base
