Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base, noop

contrail-vnc-base2:
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  - Juniper/contrail-api-client
  - Juniper/contrail-build
  ...

contrail-vnc-build-package-centos74:
  parent: contrail-vnc-build-package-el-base
  run: playbooks/packaging/contrail-vnc-el
  nodeset:
    nodes:
    - name: builder
      label: centos-7-4-builder

contrail-vnc-unittest-base:
  parent: contrail-vnc-base2
  run: playbooks/contrail-vnc-unittest/main
  post-run: playbooks/contrail-vnc-unittest/post

contrail-vnc-unittest-ubuntu-trusty:
  parent: contrail-vnc-unittest-base
  nodeset: builder-ubuntu-trusty

contrail-vnc-unittest-centos7:
  parent: contrail-vnc-unittest-base
  voting: false
  nodeset: builder-centos-7

contrail-vnc-build-package-el-makefile:
  parent: contrail-vnc-base
  description: 'Job that tests Contrail VNC using new Makefile from contrail-packages.
  
    '
  run: playbooks/packaging/contrail-vnc-el-makefile
  vars:
    build_debuginfo: 'FALSE'
  nodeset:
    nodes:
    - name: builder
      label: centos-7-4-builder

contrail-infra-base-integration:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: base-minimal
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/base.yaml

contrail-infra-base-integration-centos-7:
  parent: contrail-infra-base-integration
  nodeset: centos-7

contrail-infra-base-integration-ubuntu-xenial:
  parent: contrail-infra-base-integration
  nodeset: ubuntu-xenial

contrail-infra-contrail-base-integration:
  parent: base-minimal
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-base.yaml

contrail-infra-contrail-base-integration-centos-7:
  parent: contrail-infra-contrail-base-integration
  nodeset: centos-7

contrail-infra-contrail-base-integration-ubuntu-xenial:
  parent: contrail-infra-contrail-base-integration
  nodeset: ubuntu-xenial

contrail-infra-packaging-integration:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  required-projects:
  - Juniper/contrail-vnc
  parent: base-minimal
  run: tests/packaging-integration.yaml

contrail-infra-packaging-integration-centos-7:
  parent: contrail-infra-packaging-integration
  nodeset: builder-centos-7

contrail-infra-packaging-integration-ubuntu-xenial:
  parent: contrail-infra-packaging-integration
  nodeset: builder-ubuntu-xenial

contrail-infra-containers-integration:
  description: 'Run roles that are used to manage containers in jobs
  
    to prevent regressions.
  
    '
  required-projects:
  - Juniper/contrail-vnc
  parent: base-minimal
  run: tests/containers-integration.yaml

Add some verbose message showing what's been done
  roles/publish-container-images/library/publish_images.py
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, zuul-jobs-linters, contrail-vnc-build-package-el-base

Introduce role to fetch logs from k8s pods
  playbooks/contrail-sanity-ubuntu1604-helm-ocata/run.yaml
  roles/fetch-k8s-pods-logs/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, zuul-jobs-linters, contrail-vnc-build-package-el-base

Create R5.0 variant of contrail-vnc-base
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, contrail-vnc-build-package-el-base, noop

Use dynamicly build container for new Kolla sanity job
  roles/sanitytest/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, zuul-jobs-linters, contrail-vnc-build-package-el-base

Set AAA_MODE to 'cloud-admin' to verify authentication in sanity
  roles/contrail-ansible-deployer-new/templates/instances.j2
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-makefile, zuul-jobs-linters, contrail-vnc-build-package-el-base

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-vnc-build-package-el-makefile: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  zuul-jobs-linters: any of: ^roles/.*, ^playbooks/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
