Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, contrail-infra-lint-rpm-integration-centos-7, publish-infra-doc-test, publish-infra-doc-unit-test, contrail-vnc-build-package-el-base, noop

contrail-vnc-base2:
  parent: contrail-base2
  description: 'A base job that prepares Contrail VNC sandbox using Android repo,
  
    as opposed to the contrail-src-base job that copies the sources directly.
  
    '
  required-projects:
  - Juniper/contrail-analytics
  - Juniper/contrail-api-client
  - Juniper/contrail-build
  ...

contrail-vnc-build-package-centos74:
  parent: contrail-vnc-build-package-el-base
  nodeset:
    nodes:
    - name: builder
      label: centos-7-4-builder

contrail-vnc-build-package-rhel7:
  parent: contrail-vnc-build-package-el-base
  nodeset: builder-rhel-7

contrail-vnc-build-package-rhel7-base:
  parent: contrail-vnc-build-package-el-base
  nodeset: builder-rhel-7

contrail-vnc-build-package-rhel7-ocata:
  parent: contrail-vnc-build-package-rhel7-base
  vars:
    openstack_version: ocata

contrail-vnc-build-package-rhel7-queens:
  parent: contrail-vnc-build-package-rhel7-base
  vars:
    openstack_version: queens

contrail-vnc-unittest-base:
  parent: contrail-vnc-base2
  run: playbooks/contrail-vnc-unittest/main
  post-run: playbooks/contrail-vnc-unittest/post

contrail-vnc-unittest-ubuntu-trusty:
  parent: contrail-vnc-unittest-base
  nodeset: builder-ubuntu-trusty

contrail-vnc-unittest-centos7:
  parent: contrail-vnc-unittest-base
  voting: false
  nodeset: builder-centos-7

contrail-infra-base-integration:
  description: 'Runs roles that are included by default in any of our "base"
  
    roles to prevent total CI meltdown.
  
    '
  parent: base-minimal
  required-projects:
  - Juniper/contrail-project-config
  roles:
  - zuul: Juniper/zuul-jobs
  run: tests/base.yaml

contrail-infra-base-integration-centos-7:
  parent: contrail-infra-base-integration
  nodeset: centos-7

contrail-infra-base-integration-ubuntu-xenial:
  parent: contrail-infra-base-integration
  nodeset: ubuntu-xenial

contrail-infra-contrail-base-integration:
  parent: base-minimal
  roles:
  - zuul: Juniper/zuul-jobs
  required-projects:
  - Juniper/contrail-vnc
  run: tests/contrail-base.yaml

contrail-infra-contrail-base-integration-centos-7:
  parent: contrail-infra-contrail-base-integration
  nodeset: centos-7

contrail-infra-contrail-base-integration-ubuntu-xenial:
  parent: contrail-infra-contrail-base-integration
  nodeset: ubuntu-xenial

contrail-infra-packaging-integration:
  description: 'Run roles that are used for packaging jobs to prevent regressions.
  
    '
  parent: base-minimal
  required-projects:
  - Juniper/contrail-vnc
  run: tests/packaging-integration.yaml

contrail-infra-packaging-integration-centos-7:
  parent: contrail-infra-packaging-integration
  nodeset: builder-centos-7

contrail-infra-packaging-integration-ubuntu-xenial:
  parent: contrail-infra-packaging-integration
  nodeset: builder-ubuntu-xenial

contrail-infra-containers-integration-centos-7:
  parent: contrail-infra-containers-integration
  nodeset: builder-centos-7

Rename testing jobs to ci-test-*
  tests/ansible-lint.yaml
  tests/ansible-lint/negative.yaml
  tests/ansible-lint/positive.yaml
  tests/base.yaml
  tests/containers-integration.yaml
  tests/containers.yaml
  tests/containers/install-docker-daemon.yaml
  tests/containers/publish-container-images.yaml
  tests/contrail-base.yaml
  tests/contrail-core.yaml
  tests/contrail-core/install-repo-script.yaml
  tests/contrail-core/repo-sandbox-prepare.yaml
  tests/contrail-core/restore-git-remotes.yaml
  tests/contrail-core/zuul-include-vars.yaml
  tests/core.yaml
  tests/core/acquire-ip-address.yaml
  tests/core/configure-hosts-entries.yaml
  tests/core/configure-maven-proxy.yaml
  tests/core/configure-mirrors.yaml
  tests/core/fetch-artifacts.yaml
  tests/core/prepare-workspace.yaml
  tests/fixtures/lint-rpm-specs/bad.spec
  tests/fixtures/lint-rpm-specs/good.spec
  tests/lint-rpm-specs.yaml
  tests/lint-rpm-specs/negative.yaml
  tests/lint-rpm-specs/positive.yaml
  tests/packaging-integration.yaml
  tests/packaging.yaml
  tests/packaging/contrail-tpc-repos.yaml
  tests/packaging/fetch-packages.yaml
  tests/unittest-integration.yaml
  tests/unittest.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, contrail-infra-lint-rpm-integration-centos-7, publish-infra-doc-test, contrail-vnc-build-package-el-base, noop

Move roles to new dirs
  playbooks/contrail-build-containers-base/run.yaml
  playbooks/contrail-build-test-containers/run.yaml
  roles/contrail-build-containers/defaults/main.yaml
  roles/contrail-build-containers/tasks/build_container.yaml
  roles/contrail-build-containers/tasks/main.yaml
  roles/contrail-build-containers/templates/common.env.j2
  roles/contrail-build-containers/templates/openstack.repo.j2
  roles/contrail-build-test-containers/defaults/main.yaml
  roles/contrail-build-test-containers/tasks/build_container.yaml
  roles/contrail-build-test-containers/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base

Move base jobs to a separate file
  zuul.d/base-jobs.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop

Added job for linting puppet code for contrail-infra.
  playbooks/puppet-lint/run.yaml
  roles/puppet-lint/defaults/main.yaml
  roles/puppet-lint/tasks/main.yaml
  zuul.d/infra-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop

Update patch set 27
  a04d8982719e9c879aeb5c364e7a7e16b4ffe0b5
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-build-package-rhel7: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-base: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-ocata: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-queens: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-lint-rpm-integration-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  publish-infra-doc-test: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^roles/publish-infra-doc/.*, ^tests/.*
  publish-infra-doc-unit-test: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*
