Repository Juniper/contrail-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, contrail-infra-lint-rpm-integration-centos-7, publish-infra-doc-test, publish-infra-doc-unit-test, contrail-vnc-build-package-el-base, noop

Path conditions:
  contrail-vnc-base2: unless all of: specs/.*
  contrail-vnc-build-package-centos74: unless all of: specs/.*
  contrail-vnc-build-package-rhel7: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-base: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-ocata: unless all of: specs/.*
  contrail-vnc-build-package-rhel7-queens: unless all of: specs/.*
  contrail-vnc-unittest-base: unless all of: specs/.*
  contrail-vnc-unittest-ubuntu-trusty: unless all of: specs/.*
  contrail-vnc-unittest-centos7: unless all of: specs/.*
  contrail-infra-base-integration: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-centos-7: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-base-integration-ubuntu-xenial: (any of: ^roles/acquire-ip-address/.*, ^tests/.*) or (any of: ^roles/acquire-ip-address/.*, ^roles/contrail-helm-deployer/.*, ^tests/.*)
  contrail-infra-contrail-base-integration: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-centos-7: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-contrail-base-integration-ubuntu-xenial: any of: ^roles/zuul-include-vars/.*, ^tests/.*
  contrail-infra-packaging-integration: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-centos-7: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-packaging-integration-ubuntu-xenial: any of: ^roles/fetch-packages/.*, ^tests/.*
  contrail-infra-containers-integration: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-centos-7: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-containers-integration-ubuntu-xenial: any of: ^roles/publish-container-images/.*, ^tests/.*
  contrail-infra-lint-rpm-integration-centos-7: any of: ^roles/lint-rpm-specs/.*, ^tests/.*
  publish-infra-doc-test: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*, ^roles/publish-infra-doc/.*, ^tests/.*
  publish-infra-doc-unit-test: any of: ^roles/fetch-docs/.*, ^roles/upload-docs/.*
  contrail-vnc-build-package-el-base: unless all of: specs/.*
  noop: unless all of: ^roles/.*, ^playbooks/.*, ^tests/.*

Omit contrail-docker_registry if undefined
  playbooks/contrail-vnc-build-containers/pre.yaml
  playbooks/contrail-vnc-build-test-containers/pre.yaml
  roles/add-insecure-registry/tasks/main.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base

Added roles fetch-docs and upload-docs plus tests for publish-infra-doc.
  playbooks/test-publish-infra-doc/post.yaml
  roles/build-infra-doc/tasks/main.yaml
  roles/fetch-docs/tasks/main.yaml
  roles/upload-docs/tasks/main.yaml
  roles/upload-docs/vars/main.yaml
  tests/fetch-docs.yaml
  tests/publish-infra-doc-unit-test.yaml
  tests/upload-docs.yaml
  zuul.d/infra-jobs.yaml
  zuul.d/project.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-infra-base-integration, contrail-infra-base-integration-centos-7, contrail-infra-base-integration-ubuntu-xenial, contrail-infra-contrail-base-integration, contrail-infra-contrail-base-integration-centos-7, contrail-infra-contrail-base-integration-ubuntu-xenial, contrail-infra-packaging-integration, contrail-infra-packaging-integration-centos-7, contrail-infra-packaging-integration-ubuntu-xenial, contrail-infra-containers-integration, contrail-infra-containers-integration-centos-7, contrail-infra-containers-integration-ubuntu-xenial, contrail-infra-lint-rpm-integration-centos-7, publish-infra-doc-test, publish-infra-doc-unit-test, contrail-vnc-build-package-el-base, noop

Update patch set 45
  31dd8abc836d2039354e0acdc062b9b840183fa7
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop

Run k8s Sanity tests for contrail-go on CI
  playbooks/contrail-go-sanity-centos7-k8s/run.yaml
  roles/contrail-go/tasks/main.yaml
  zuul.d/contrail-jobs.yaml
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop

Update patch set 134
  07bb3f7a69842f5b1e3c14601b50c8990a44e234
Due: contrail-vnc-base2, contrail-vnc-build-package-centos74, contrail-vnc-build-package-rhel7, contrail-vnc-build-package-rhel7-base, contrail-vnc-build-package-rhel7-ocata, contrail-vnc-build-package-rhel7-queens, contrail-vnc-unittest-base, contrail-vnc-unittest-ubuntu-trusty, contrail-vnc-unittest-centos7, contrail-vnc-build-package-el-base, noop
